header{
	background-color: #003366;
	width:100%;
}
header .navbar-inverse{
	background-color: #003366;
	background-image: none;
}
header .navbar-inverse .navbar-brand, header .navbar-inverse .navbar-nav > li > a{
	color: #ddd
}
.row-fluid.buttons{
	padding: 5px 0px;
}