<link rel="stylesheet" type="text/css" href="css/admin.css" />

<section class="available-header" ng-controller="WeekAvailableController as availableWeek">
    <div class="week-tabs">
        <div class="tab1" ng-class="{active : availableWeek.tab === 1}">
            <a href="#" ng-click="availableWeek.ReloadRoute(1)">This Week</a>
        </div>
        <div class="tab2" ng-class="{active : availableWeek.tab === 2}">
            <a href="#" ng-click="availableWeek.ReloadRoute(2)">Next Week</a>
        </div>
    </div>
</section>
<section class="content" ng-controller="JobRequestController as request">
    <div class="day-container">
        <input type="text" name="{{day.name}}reqName" ng-model="request.header.reqName" required ng-trim="false"><br />
        <hr />
        <input type="text" name="{{day.name}}reqBy" ng-model="request.header.client" required ng-trim="false"><br />
        <hr />
        <p class="alignLeft temp-degree">{{request.header.minPayNotice}}</p>
        <p class="onoffswitch">
            <input type="checkbox" name="{{day.name}}reqMinPay" class="onoffswitch-checkbox" id="{{day.name}}reqMinPay" checked>
            <label class="onoffswitch-label" for="{{day.name}}reqMinPay">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>                       
        </p>
        <hr />
        <p class="alignLeft ">
            {{request.header.payNotice}}
        </p>
        <p class="onoffswitch">
                <input type="checkbox" name="{{day.name}}reqPay" class="onoffswitch-checkbox" id="{{day.name}}reqPay" checked>
                <label class="onoffswitch-label" for="{{day.name}}reqPay">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </p>
        <div style="clear: both;"></div>
        <hr />
        <input type="text" name="{{day.name}}reqInstruct" ng-model="request.header.instruction" required ng-trim="false"><br />
        {{request.header.billInfo}}<br />
        <input type="text" name="{{day.name}}reqBy" ng-model="request.header.billTo" required ng-trim="false"><br />
        <hr />
        <input type="text" name="{{day.name}}reqBy" ng-model="request.header.address" required ng-trim="false"><br /> 
    </div>
</section>