<link rel="stylesheet" href="css/dashboard.css" />

<div class="row calendar-heading">	
	<div class="col-sm-6 col-xs-12 calendar-filters">
		<h4 class="text-info">Select a Date: </h4>
		<select name="month" id="selMonths" ng-change="getMonthData()" ng-options="option.name for option in getMonths.availableOptions track by option.id" ng-model="getMonths.selectedOption"></select>	
		<select name="year" id="selYear" ng-change="getMonthData()" ng-options="option for option in getYears.availableOptions" ng-model="getYears.selectedOption"></select>
	</div>		
	<div class="col-sm-6 col-xs-12 calendar-view">
		<h4 class="text-info">Select a View:</h4>
		<ul class="nav nav-tabs">
			<li ng-class="{active:true}"><a href="#"><span class="glyphicon glyphicon-th"></span>Month</a></li>
			<li><a ng-click=""><span class="glyphicon glyphicon-th-large"></span>Week</a></li>
			<li><a ng-click=""><span class="glyphicon glyphicon-list"></span>Day</a></li>
		</ul>		
		
	</div>
	
</div>
<div class="container-fluid calendar">
	<div class="row">
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>	
		<div class="col-xs-10">
			<div class="day-block" ng-repeat="date in monthData track by date.id" ng-class="{active: date.isToday, thisMonth: date.thisMonth}">
				<span class="day-name">{{date.day}}</span>
			</div>	
		</div>	
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
		</div>
	</div>
</div>