<link rel="stylesheet" href="css/dashboard.css" />

<section class="available-header" ng-controller="WeekAvailableController as availableWeek">
    <div class="week-tabs">
        <div class="tab1" ng-class="{active : availableWeek.tab === 1}">
            <a href="#" ng-click="availableWeek.ReloadRoute(1)">This Week</a>
        </div>
        <div class="tab2" ng-class="{active : availableWeek.tab === 2}">
            <a href="#" ng-click="availableWeek.ReloadRoute(2)">Next Week</a>
        </div>
    </div>
</section>
<section class="content" ng-controller="WeekController as week">
    <ul class="week-list">
        <li ng-repeat="day in week.days">
            <div class="day-container">
                <label class="day-title" ng-class="day.labelClass" ng-click="{active:week.ToggleActive(day)}">{{day.name}}</label>
                <div class="row weather-item top-border" ng-show="day.showDay">
                    <div class="cell">
                        <img class="weather-icon" ng-src="{{day.weather.am}}" />
                    </div>
                    <div class="cell temperature">
                        {{day.temp.am}}<span class="temp-degree">&#8457;</span>
                    </div>
                    <div class="cell time">
                        {{week.am}}
                    </div>
                    <div class="cell">
                        <div class="onoffswitch">
                            <input type="checkbox" name="{{day.name}}OnOffSwitch" class="onoffswitch-checkbox" id="{{day.name}}OnOffSwitch-am" checked>
                            <label class="onoffswitch-label" for="{{day.name}}OnOffSwitch-am">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row weather-item" ng-show="day.showDay">
                    <div class="cell">
                        <img class="weather-icon" ng-src="{{day.weather.pm}}" />
                    </div>
                    <div class="cell temperature">
                        {{day.temp.pm}}<span class="temp-degree">&#8457;</span>
                    </div>
                    <div class="cell time">
                        {{week.pm}}
                    </div>
                    <div class="cell">
                        <div class="onoffswitch">
                            <input type="checkbox" name="{{day.name}}OnOffSwitch" class="onoffswitch-checkbox" id="{{day.name}}OnOffSwitch-pm" checked>

                            <label class="onoffswitch-label" for="{{day.name}}OnOffSwitch-pm">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
</section>

<section class="job-header" ng-controller="AvailableJobsController as availableJobs">
    <div class="week-tabs">
        <div class="tab1" ng-class="{active : availableJobs.tab === 1}">
            <a href="#" ng-click="availableJobs.ReloadRoute(1)">This Week</a>
        </div>
        <div class="tab2" ng-class="{active : availableJobs.tab === 2}">
            <a href="#" ng-click="availableJobs.ReloadRoute(2)">Next Week</a>
        </div>
    </div>
</section>
<section class="content" ng-controller="JobController as ctrlJob">
    <ul class="week-list" ng-hide="ctrlJob.showJobDetails">
        <li ng-repeat="day in ctrlJob.days">
            <div class="job-container">
                <div class="job-day row" ng-click="ctrlJob.ToggleActive(day)" ng-style="day.textColor">
                    <div class="job-cell">
                        <div class="top-left-block">
                            <img class="weather-icon" ng-src="{{day.weather.am}}" />
                            <label class="temperature">{{day.temp.am}}<span class="temp-degree">&#8457;</span></label>
                        </div>
                        <div class="bottom-left-block">
                            &nbsp;
                        </div>
                    </div>
                    <div class="job-cell">
                        <label class="job-title">{{day.name}}</label><br />
                        <label class="job-subtitle">{{day.totalJobs}}</label>
                    </div>
                    <div class="job-cell">
                        <div class="top-right-block">
                            &nbsp;
                        </div>
                        <div class="bottom-right-block">
                            <img class="weather-icon" ng-src="{{day.weather.pm}}" />
                            <label class="temperature">{{day.temp.pm}}<span class="temp-degree">&#8457;</span></label>
                        </div>
                    </div>
                </div>
                <div class="row job-items" ng-show="day.showDay">
                    <ul class="job-list">
                        <li ng-repeat="job in day.jobs" ng-click="ctrlJob.SetActiveJob(job)">
                            <div class="row job-summary">
                                <div class="row job-item" ng-style="job.background">
                                    {{job.type}}
                                </div>
                                <div class="row job-place">
                                    {{job.place}}
                                </div>
                                <div class="row job-address">
                                    {{job.address}}
                                </div>
                                <div class="row job-time">
                                    <i>{{job.time}}</i>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <section class="job-details" ng-show="ctrlJob.showJobDetails">
        <div class="row" ng-click="ctrlJob.HideActiveJob()">
            <div class="hide-job-details">Return to available jobs</div>
        </div>
        <div class="row">
            <h2>Job Details</h2>
        </div>
        <div class="row">
            <label>Type:</label><br /><br />
            {{ctrlJob.activeJob.type}}
        </div>
        <div class="row">
            <label>Location:</label><br /><br />
            {{ctrlJob.activeJob.place}}
        </div>
        <div class="row">
            <label>Address:</label><br /><br />
            {{ctrlJob.activeJob.address}}
        </div>
        <div class="row">
            <label>Time:</label><br /><br />
            {{ctrlJob.activeJob.time}}
        </div>
        <div class="row">
            <label>Description:</label><br /><br />
            {{ctrlJob.activeJob.description}}
        </div>
        <div class="row">
            <label>Priority:</label><br /><br />
            <div class="priority">{{ctrlJob.activeJob.priority}}</div>
        </div>
        <div class="row">
            <label>Accept Job:</label><input type="checkbox" ng-model="ctrlJob.activeJob.accept" class="cbxAcceptJob"><br /><br />
            <select ng-hide="ctrlJob.activeJob.accept" class="reason" ng-init='reasonType=ctrlJob.Reasons[0]' ng-model="reasonType" ng-options="reason.name for reason in ctrlJob.Reasons track by reason.id"></select>
        </div>
        <div class="row alignRight" ng-click="ctrlJob.HideActiveJob()">
            <div class="hide-job-details">Return to available jobs</div>
        </div>
        <div class="clear"></div>
    </section>
</section>
